html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

main {
    flex: 1;
}
/* Przycisk Wycena */
.menu .btn {
    background: #00c3ff;
    padding: 8px 18px;
    border-radius: 30px;
    color: #111;
    font-weight: 600;
}

.menu .btn:hover {
    background: white;
    color: #111;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

section {
    padding: 80px 0;
}

.info {
    text-align: center;
    background: #f5f7fa;
}

.info h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

.info p {
    font-size: 18px;
    color: #555;
    max-width: 700px;
    margin: auto;
}
/* STOPKA */
.stopka {
    background: #000;
    color: #aaa;
    padding: 60px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.stopka h4 {
    color: white;
    margin-bottom: 15px;
}

.stopka ul {
    list-style: none;
    padding: 0;
}

.stopka a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

.stopka a:hover {
    color: #00c3ff;
}