/* OFERTA */

.oferta {
    background: white;
    text-align: center;
}

.oferta-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 50px;
}

.card {
    background: #f9f9f9;
    padding: 30px;
    border-radius: 15px;
    transition: 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card h3 {
    margin-bottom: 15px;
}

/* O NAS */

.onas {
    background: #111;
    color: white;
    text-align: center;
}

.cechy {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.cechy li {
    margin: 10px 0;
    font-size: 18px;
}

/* STOPKA */

.stopka {
    background: #000;
    color: #aaa;
    padding: 60px 0;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
}

.stopka h4 {
    color: white;
    margin-bottom: 15px;
}

.stopka ul {
    list-style: none;
    padding: 0;
}

.stopka a {
    text-decoration: none;
    color: #aaa;
    transition: 0.3s;
}

.stopka a:hover {
    color: #00c3ff;
}
